</head>

<body>
    <header class="mainHeader">
        <nav class="HeaderNav">
            <ul class="navList">
                <li class="navListItem">
                    <a class='<%= path ==="/" ? "active" : "" %>' href="/">shop</a>
                </li>
                <li class="navListItem">
                    <a class='<%= path ==="/admin/add-product" ? "active" : "" %>'
                        href="/admin/add-product">
                        add product</a>
                </li>
            </ul>
        </nav>
    </header>