extends layout/main.pug

block styles
    link(rel="stylesheet", href="/css/form.css")

block contents
    main
        form.formContainer(action="/admin/product", method="post")
            .formControl
                label(for="title") title
                input#title(type="text" name="title")
            button.btn(type="submit") add product             