<main>
  <form class="formContainer" action="/admin/product" method="post">
    <div class="formControl">
      <label for=""> title </label>
      <input type="text" name="title" />
    </div>
    <button class="btn" type="submit">add product</button>
  </form>
</main>