<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> <%= pageTitle %> </title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/product.css">
</head>
<body>
    <header class="mainHeader">
        <nav class="HeaderNav">
            <ul class="navList">
                <li class="navListItem"><a href="/">shop</a></li>
                <li class="navListItem"><a href="/admin/add-product">add product</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <% if (products.length > 0) { %>
          <div class="productContainer">
            <% products.forEach((product) => { %>
                <article class="card productItem">
                  <header class="cardHeader">
                    <h1 class="productTitle"> <%= product.title %> </h1>
                  </header>
                  <div class="cardImage">
                    <img src="" alt="<%= product.title %>" />
                  </div>
                  <div class="cardContent">
                    <h2 class="productPrice"> 123 </h2>
                    <p class="productDescription"> abc </p>
                  </div>
                  <div class="cardActions">
                    <button class="btn">Add to Cart</button>
                  </div>
                </article>
              <% }) %>
          </div>
        <% } else { %>
          <h1> no found </h1>
        <% } %>
      </main>
</body>
</html>