<main>
  {{#if hasProducts}}
    {{! templates only be used for rendering }}
    <div class="productContainer">
      {{#each products}}
        {{! ~ each this in products }}
        <article class="card productItem">
          <header class="cardHeader">
            <h1 class="productTitle"> {{this.title}} </h1>
          </header>
          <div class="cardImage">
            <img src="" alt="" />
          </div>
          <div class="cardContent">
            <h2 class="productPrice"> $ </h2>
            <p class="productDescription"> abc </p>
          </div>
          <div class="cardActions">
            <button class="btn">Add to Cart</button>
          </div>
        </article>
      {{/each}}
    </div>
  {{else}}
    <h1> no found </h1>
  {{/if}}
</main>