<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ pageTitle }}</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/product.css">
</head>
<body>
    <header class="mainHeader">
        <nav class="HeaderNav">
            <ul class="navList">
                <li class="navListItem"><a class="active" href="/">shop</a></li>
                <li class="navListItem"><a href="/admin/add-product">add product</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <h1> products </h1>
        <p> list of products </p>
    </main>
</body>
</html>