.open-form:checked ~ div > .pop-up {
  display: block;
}

.open-form:checked ~ .overlay {
  display: block;
}

.pop-up {
  display: none;
  background-color: var(--item-background);
  position: absolute;
  width: 50%;
  line-height: var(--line-height);
  top: 3rem;
  height: fit-content;
}

.form-container {
  padding: var(--line-height);
  line-height: var(--line-height);
  text-align: center;
}

.form-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--highlight-text);
  letter-spacing: 0.1em;
  font-size: x-large;
  margin: 0 1rem;
}

.form-item {
  width: 100%;
  margin-bottom: var(--line-height);
}

.form-btn {
  font: inherit;
  color: var(--main);
  font-size: 1.2rem;
  
  border: 3px solid var(--dark);
  border-radius: 9px;
  background: linear-gradient(to right, var(--dark), var(--highlight-text));
  box-shadow: var(--shadow);

  width: 55%;
  margin: 1rem;
  padding: 0.5rem 1rem;
}

.form-btn:hover,
.form-btn:active {
  background: linear-gradient(to left, var(--dark), var(--highlight-text));
  cursor: pointer;
}

.form-item label {
  display: block;
  text-align: center;
  margin-bottom: 9px;
}

.pop-up input[type="text"],
.pop-up input[type="range"],
.pop-up input[type="date"],
.pop-up textarea {
  display: block;
  font: inherit;
  margin: auto;
  width: 100%;
  padding: 15px var(--line-height);
  border: 1px solid var(--light);
  border-radius: 1rem;
  background: var(--main);
}


.form-radio {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--line-height);
  margin-bottom: var(--line-height);
}

.form-radio > * {
  cursor: pointer;
}

.form-radio > *:hover {
  color: var(--light)
}

@media (max-width: 1023px) {
  .pop-up {
    width: 80%;
  }
  .form-container {
    padding: 0.9rem;
  }
  .form-title h1,
  hr {
    display: none;
  }
}

@media (max-width: 821px) {
  input[type="text"],
  input[type="number"],
  input[type="file"],
  input[type="email"],
  input[type="password"],
  input[type="datetime-local"],
  textarea {
    width: 80%;
    padding: 9px var(--line-height);
    border: 1px solid var(--light);
    border-radius: 0.3rem;
  }
  .form-btn {
    width: 100%;
    margin : 0 auto;
  }
}
