@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

* {
  box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
} 

main {
    padding: 1.2rem;
    margin: auto;
}

header {
     width: 100%;
     height: 3.3rem;
     background: #619dd6;
     padding: 0 1.2rem;
 }

.HeaderNav {
    height: 100%;
    display: flex;
    align-items: center;
}

.navList {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navListItem {
    margin: 0 1rem;
    padding: 0;
}

.navListItem a {
    text-decoration: none;
    color: white;
}

.navListItem a:hover, 
.navListItem a:active,
.navListItem a.active {
    color: blue;
}


.productContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch;
}

.card {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
}

.cardHeader,
.cardContent {
  padding: 1rem;
}

.cardHeader h1,
.cardContent h1,
.cardContent h2,
.cardContent p {
  margin: 0;
}

.cardImage {
  width: 100%;
}

.cardImage img {
  width: 100%;
}

.cardActions {
    padding: 1rem;
    text-align: center;
}

.cardActions button,
.cardActions a {
    margin: 0 0.25rem;
}

.btn {
    background : #619dd6;
    color: white;
    border: 3px solid #619dd6 ;
    border-radius: 3px;
    
    padding: 3px;
    margin-top: 1rem;
    cursor: pointer;
    font: inherit;
}

.btn:hover,
.btn:active {
    font-size: larger;
    color : #619dd6;
    background: white;
}