<%- include('../includes/head.ejs')%>
<%- include('../includes/mav.ejs')%>

    <main>
        <!-- 1. can select which emp to go to details : -->
        <!-- 2. can select which month to render : -->
            <!-- (1) list of working hour -->
            <!-- (2) delete finish time button-->
            <!-- (3) confirm button -> toggle activation of check in-out functions & onLeave form -->
    </main>

<%- include('../includes/foot.ejs')%>