<%- include('../includes/head.ejs') %> <%- include('../includes/nav.ejs') %>
<main>
    <h1>have u logged in ?</h1>
    <h2>or have u authorized for this route?</h2>
</main>

<%- include('../includes/foot.ejs') %>
