doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title #{pageTitle}
        link(rel="stylesheet", href="/css/main.css")
        block styles
    body 
        header
            nav.HeaderNav
                ul.navList
                    li.navListItem
                        a(href="/" class=(path === "/" ? "active" : "/")) shop
                    li.navListItem
                        a(href="/admin/add-product" class=(path ==="/admin/add-product" ? "active" : "")) add product
                        //- check js condition for injected path var in ()
        block contents