<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ pageTitle }}</title>
    <link rel="stylesheet" href="/css/main.css">
    {{#if formCSS }}
        <link rel="stylesheet" href="/css/form.css">
    {{/if }}
    {{#if productCSS }}
        <link rel="stylesheet" href="/css/product.css">
    {{/if }}
    {{!-- in which route -> T conditions in that is executed -> return matched case --}}
</head>
<body>
    <header class="mainHeader">
        <nav class="HeaderNav">
            <ul class="navList">
                <li class="navListItem">
                    <a href="/" class="{{#if activeShop }} active {{/if }}" >shop</a>
                </li>
                <li class="navListItem">
                    <a href="/admin/add-product" class="{{#if activeAddProduct }} active {{/if }}" >add product</a>
                </li>
            </ul>
        </nav>
    </header>
    {{{ body }}}
</body>
</html>